nav(class='navbar navbar-default')
  div.container-fluid
    div.navbar-header
      button(
        type='button'
        class='navbar-toggle collapsed'
        data-toggle='collapse'
        data-target='#navbar-collapse-menu'
        aria-expanded='false'
      )
        span.sr-only Toggle Navigation
      a.navbar-brand(href='#') Home
    div(class='collapse navbar-collapse' id='navbar-collapse-menu')
      ul(class='nav navbar-nav')
        li
          a(href='#about') About
